.logo.position-absolute {
  left: -140px;
}
.logo {
  font-size: 35px;
}
@media (min-width: 992px){
.container {
  max-width: 836px;
}
}
.banner img{
  max-width: 100%;
}
.top-articles a {
  text-decoration: none;
  color: #111111;
}
.top-articles a:hover {
  text-decoration: underline; 
}
.top-articles img {
  width: 25px;
  height: 25px;
}
.search-block {
  background: #ffcc00;
  border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;
}
input.main-search {
  border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;
  border: 1px solid transparent;
  padding: 0.75rem !important;
}
input.main-search:focus {
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
}
button.main-button {
  background-color: transparent;
  border: 0;
  height: 100%;
}
.tab button.active {
  --bs-text-opacity: 1;
}
.tab button {
  --bs-text-opacity: 0.5;
}